/* USER VARIABLES SECTION */
:root {
	--purple: #4D328D;
	--green: #6FB31A;
	--gray: #808080;
	--bg: #f9f9f9;
	--text: #000;
	--index: calc(1vw + 1vh);
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: 'Inter', sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* FONTS LOAD SECTION */
@font-face {
	src: url("../fonts/Inter-Light.woff2") format("woff2");
	font-family: "Inter";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Inter-Bold.woff2") format("woff2");
	font-family: "Inter";
	font-weight: 700;
	font-style: normal;
}

/* GENERAL CSS SETTINGS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--accent);
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

html {
	height: 100%;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	height: 100%;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	background-color: var(--bg);
	background-image: url(../img/cars/cars-1440p.jpg);
	background-size: calc(var(--index)*30);
	background-repeat: no-repeat;
	background-position: bottom right 10%;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	/* height: 100vh; */
	padding-top: 5%;
	position: relative;
	left: 0;
	right: 0;
	height: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

/* USER STYLES */
.image {
	max-width: 100%;
}

.purple {
	color: var(--purple);
}

.green {
	color: var(--green);
}

.logo {
	width: 50%;
}

h1 {
	font-weight: bold;
	font-size: calc(var(--index)*2.23);
	line-height: 1.1;
	margin: 4% 0 0;
}

.phone {
	font-weight: bold;
	text-decoration: none;
	font-size: calc(var(--index)*3);
}

.primary-image {
	display: block;
	height: calc(var(--index)*30);
	width: auto;
	margin: auto
}

@media(max-width: 992px) {
	body {
		background-image: url(../img/cars/cars-1080p.jpg);
	}
	.logo {
		width: 90%;
	}
}

@media(max-width: 586px) {
	body {
		background-size: calc(var(--index)*30);
		background-position: bottom 5% center;
		background-image: url(../img/cars/cars-720p.jpg);
	}
	.logo {
		width: 100%;
	}
}